<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.artefedeacireale">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ChurchListActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ChurchDetailActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ArtworkDetailActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.CreditsActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.InfoActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.HolidayActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"/>

        <service
            android:name=".services.ChurchService"
            android:exported="false" />
        <service
            android:name=".services.ChurchDetailService"
            android:exported="false" />
        <service
            android:name=".services.ArtworkDetailService"
            android:exported="false" />
        <service
            android:name=".services.EventService"
            android:exported="false"></service>
        <service
            android:name=".services.ItineraryService"
            android:exported="false" />
    </application>

</manifest>
